@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.back-button {
    background: none;
    border: none;
    outline: none;
    padding: none;
    cursor: pointer;

    transition: transform 0.3s ease;

    &:hover,
    &:focus {
        transform: translateX(-10px);
    }
}