@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/functions" as *;

.button {
outline: none;
height: $cta-height-m;
padding: 0 $cta-padding-dt;
border-radius: $cta-br;
border: pxToRem(1) solid transparent;
font-weight: $font-semi-bold;
cursor: pointer;
display: inline-flex;
align-items: center;
justify-content: center;
white-space: nowrap;

@include tablet {
    height: $cta-height-dt;
}

&:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

&--full {
    width: 100%;
}

/* Primary = Indigo filled */
&--primary {
    background-color: $color-instock-indigo;
    color: $color-white;

    &:hover:not(:disabled), &:focus {
        background-color: $color-instock-black;
        opacity: 0.9;
    }
}

/* Secondary = White with border */
&--secondary {
    background-color: $color-white;
    color: $color-slate;
    border-color: $color-cloud;

    &:hover:not(:disabled) {
    background-color: $color-light-grey;
    }
}
}

