@use "./variables" as *;
@use "./mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  // border: 1px dashed rgb(33, 21, 21); // Temporary for debugging
}

body {
  font-family: $primary-font;
  font-weight: $font-regular;
  margin: 0;
  background-color: $color-light-grey;
}

.display-mobile-only {
  @include tablet {
    display: none;
  }
}

.display-tablet-desktop-only {
  display: none;

  @include tablet {
    display: inline;
  }
}