@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/functions" as *;

.warehouse-list {
  &__container {
    @extend %wrapper;
    background-color: $color-white;
    border-radius: pxToRem(3);
    overflow: hidden;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);
    padding: pxToRem(32) pxToRem(24) pxToRem(24);

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: pxToRem(32) pxToRem(32) pxToRem(21);
    }

    @include desktop {
      padding: pxToRem(32) pxToRem(40) pxToRem(21);
    }
  }

  &__title {
    margin: 0;
    font-size: $text-size-m-h1;
    line-height: $line-height-m-h1;
    font-weight: $font-semi-bold;
    color: $color-instock-black;

    @include tablet {
      font-size: $text-size-dt-h1;
      line-height: $line-height-dt-h1;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__table-header {
    display: none;

    @include tablet {
      display: grid;
      grid-template-columns: 1.2fr 1.6fr 1.2fr 1.7fr 0.7fr;
      column-gap: pxToRem(16);
      align-items: center;
      padding: pxToRem(12) pxToRem(32);
      background-color: $color-light-grey;
    }

    @include desktop {
      padding: pxToRem(12) pxToRem(40);
    }
  }

  &__th {
    display: inline-flex;
    align-items: center;
    gap: pxToRem(4);
    font-size: $text-size-dt-h4;
    font-weight: $font-semi-bold;
    color: $color-slate;
    text-transform: uppercase;
    min-width: 0;
    white-space: nowrap;
  }

  &__th--actions {
    justify-content: flex-end;
    text-align: right;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .warehouse-item:last-child {
      border-bottom: none;
    }
  }
}
