@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.delete-button {
    font-family: $primary-font;
    color: $color-white;
    background-color: $color-red;
    border-radius: $cta-br;
    border: 1px solid $color-red;
    cursor: pointer;
    font-weight: $font-semi-bold;
    outline: none;

    font-size: $text-size-m-h3;
    line-height: $line-height-m-h3;
    height: $cta-height-m;

    &:hover, &:focus {
        background-color: $color-graphite;
        border-color: $color-graphite;
    }

    @include tablet {
        font-size: $text-size-dt-h3;
        line-height: $line-height-dt-h3;
        height: $cta-height-dt;
        padding: 0 $cta-padding-dt;
    }
}