@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.fieldset {
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: pxToRem(16);
        padding: pxToRem(16) pxToRem(24) pxToRem(24);
        background-color: $color-white;

        @include tablet {
            gap: pxToRem(24);
            padding: 0 pxToRem(32) 0 0;
        }

        @include desktop {
            padding: 0 pxToRem(40) 0 0;
        }

        &--second {
            @include tablet {
                gap: pxToRem(24);
                padding: 0 0 0 pxToRem(32);
            }

            @include desktop {
                padding: 0 0 0 pxToRem(40);
            }
        }
    }

    &__title {
        font-family: $primary-font;
        font-size: $text-size-m-h2;
        line-height: $line-height-m-h2;
        color: $color-instock-black;
        font-weight: $font-semi-bold;
        margin: 0 0 pxToRem(8);

        @include tablet {
            font-size: $text-size-dt-h2;
            line-height: $line-height-dt-h2;
        }
    }

}