@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.fieldset {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(16);
        padding: pxToRem(16) pxToRem(24) pxToRem(24);
        background-color: $color-white;

        &--border {
            border: none;
            border-bottom: 1px solid $color-cloud;

            @include tablet {
                border: none;
                border-right: 1px solid $color-cloud;
            }
        }

        @include tablet {
            gap: pxToRem(24);
            padding: pxToRem(24) pxToRem(32) pxToRem(32);
        }

        @include desktop {
            padding: pxToRem(24) pxToRem(40) pxToRem(32);
        }
    }

    &__title {
        font-size: $text-size-m-h2;
        line-height: $line-height-m-h2;
        color: $color-instock-black;
        font-weight: $font-semi-bold;
        margin: 0 0 pxToRem(8);

        @include tablet {
            font-size: $text-size-dt-h2;
            line-height: $line-height-dt-h2;
        }
    }

}