@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;
@use "../../../styles/mixins" as *;

.text-field {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: $ff-margin-top;
    }

    &__label {
        font-size: $text-size-m-p2;
        line-height: $line-height-m-p2;
        color: $color-instock-black;
        font-weight: $font-semi-bold;

        @include tablet {
            font-size: $text-size-dt-p2;
            line-height: $line-height-dt-p2;
        }
    }

    &__text-input {
        outline: none;
        font-size: $text-size-m-p2;
        line-height: $line-height-m-p2;
        color: $color-instock-black;
        font-weight: $font-regular;
        height: $ff-height-m;
        padding: 0 $ff-padding-right 0 $ff-padding-left;
        // margin: $ff-margin-top 0 $ff-margin-bottom 0;
        border-radius: $ff-br;
        border: 1px solid $color-cloud;

        &:focus {
            border-color: $color-instock-indigo;
        }

        &--error-border {
            border-color: $color-red;
        }

        @include tablet {
            font-size: $text-size-dt-p2;
            line-height: $line-height-dt-p2;
            height: $ff-height-dt;
        }
    }
}