@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/icons" as *;

.search-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    @include tablet {
        width: 16rem;
    }

    &__input {
        width: 100%;
        height: $ff-height-m;
        padding-left: $ff-padding-left;
        padding-right: 2.5rem; // space for icon
        border-radius: $ff-br;
        border: 1px solid $color-cloud;
        font-size: $text-size-m-p2;

        @include tablet {
        height: $ff-height-dt;
        font-size: $text-size-dt-p2;
        }

        &:focus {
        outline: none;
        border-color: $color-instock-indigo;
        }
    }

    &__icon {
        position: absolute;
        right: 1rem;
        width: 24px;
        height: 24px;
        pointer-events: none;
        opacity: 0.6;
    }
    }
